
@{
    ViewBag.Title = "Learn";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Learn Punjabi Raavi Font Typing&nbsp;&nbsp;</h3>


            <div id="hindi_keyboard">

                <table id="number_key" class="bangali">
                    <tbody>
                        <tr>
                            <td class="_key">
                                <span class="_right_char">~</span> <br>
                                <span class="_right_char">`</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">!</span> <br>
                                <span class="_right_char">1</span> <br>
                                <span class="_right_char">੧</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">@@</span> <br>
                                <span class="_right_char">2</span> <br>
                                <span class="_right_char">੨</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ੱ</span> <br>
                                <span class="_right_char">3</span> <br>
                                <span class="_right_char">੩</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ੴ</span> <br>
                                <span class="_right_char">4</span> <br>
                                <span class="_right_char">੪</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">☬</span> <br>
                                <span class="_right_char">5</span> <br>
                                <span class="_right_char">੫</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">^</span> <br>
                                <span class="_right_char">6</span> <br>
                                <span class="_right_char">੬</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">&amp;</span> <br>
                                <span class="_right_char">7</span> <br>
                                <span class="_right_char">੭</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">*</span> <br>
                                <span class="_right_char">8</span> <br>
                                <span class="_right_char">੮</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">(</span> <br>
                                <span class="_right_char">9</span> <br>
                                <span class="_right_char">੯</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">)</span> <br>
                                <span class="_right_char">0</span> <br>
                                <span class="_right_char">_</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">੦</span> <br>
                                <span class="_right_char">ਃ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">+</span> <br>
                                <span class="_right_char">=</span>
                            </td>


                            <td class="backspace_key _key" id="backspace_key"><span class="special_characters">← </span>Backspace</td>


                        </tr>
                    </tbody>
                </table>


                <table class="bangali">
                    <tbody>
                        <tr>
                            <td class="tab_key _key"><span>Tab</span> <span class="special_characters">↹</span></td>
                            <td class="_key">
                                <span class="_right_char">ਔ</span> <br>
                                <span class="_right_char">Q</span> <br />
                                <span class="_right_char">ੌ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਐ</span> <br>
                                <span class="_right_char">W</span> <br />
                                <span class="_right_char">ੈ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਆ</span> <br>
                                <span class="_right_char">E</span> <br />
                                <span class="_right_char">ਾ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਈ</span> <br>
                                <span class="_right_char">R</span> <br />
                                <span class="_right_char">ੀ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਊ</span> <br>
                                <span class="_right_char">T</span> <br />
                                <span class="_right_char">ੂ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਭ</span> <br>
                                <span class="_right_char">Y</span> <br />
                                <span class="_right_char">ਬ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਙ</span> <br>
                                <span class="_right_char">U</span> <br />
                                <span class="_right_char">ਹ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਘ</span> <br>
                                <span class="_right_char">I</span> <br />
                                <span class="_right_char">ਗ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਧ</span> <br>
                                <span class="_right_char">O</span> <br />
                                <span class="_right_char">ਦ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">ਝ</span> <br>
                                <span class="_right_char">P</span> <br />
                                <span class="_right_char">ਜ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">ਢ</span> <br>
                                <span class="_right_char">[</span> <br />
                                <span class="_right_char">ਡ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਞ</span> <br>
                                <span class="_right_char">]</span> <br />
                                <span class="_right_char">਼</span>
                            </td>

                            <td class="r_tab_key _key">
                                <span class="_right_char">|</span> <br>
                                <span class="_right_char">\</span>
                            </td>


                        </tr>
                    </tbody>
                </table>


                <table id="second_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="caps_key _key" id="_caps_Lock"><span>CapsLock</span></td>
                            <td class="_key">
                                <span class="_right_char">ਓ</span> <br>
                                <span class="_right_char">A</span> <br />
                                <span class="_right_char">ੋ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਏ</span> <br>
                                <span class="_right_char">S</span> <br />
                                <span class="_right_char">ੇ</span>
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">ਅ</span> <br>
                                <span class="_right_char">D</span> <br />
                                <span class="_right_char">੍</span>
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">ਇ</span> <br>
                                <span class="_right_char">F</span> <br />
                                <span class="_right_char">ਿ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਉ</span> <br>
                                <span class="_right_char">G</span> <br />
                                <span class="_right_char">ੁ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਫ</span> <br>
                                <span class="_right_char">H</span> <br />
                                <span class="_right_char">ਪ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ੜ</span> <br>
                                <span class="_right_char">J</span> <br />
                                <span class="_right_char">ਰ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਖ</span> <br>
                                <span class="_right_char">K</span> <br />
                                <span class="_right_char">ਕ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਥ</span> <br>
                                <span class="_right_char">L</span> <br />
                                <span class="_right_char">ਤ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">ਛ</span> <br>
                                <span class="_right_char">;</span> <br />
                                <span class="_right_char">ਚ</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">ਠ</span> <br>
                                <span class="_right_char">'</span> <br />
                                <span class="_right_char">ਟ</span>
                            </td>
                            <td class="enter_key _key" id="enter_key"><span class="special_characters">↩</span> Enter </td>


                        </tr>
                    </tbody>
                </table>

                <table id="third_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="l_shift_key _key" id="l_shift_key"><span class="special_characters">⇧</span> Shift</td>
                            <td class="_key">
                                <span class="_right_char">ਁ</span> <br>
                                <span class="_right_char">Z</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ੰ</span> <br>
                                <span class="_right_char">X</span> <br />
                                <span class="_right_char">ਂ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਣ</span> <br>
                                <span class="_right_char">C</span> <br />
                                <span class="_right_char">ਮ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਨ</span> <br>
                                <span class="_right_char">V</span> <br />
                                <span class="_right_char">ਨ</span>
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">ਵ</span> <br>
                                <span class="_right_char">B</span> <br />
                                <span class="_right_char">ਵ</span>
                            </td>

                            <td class="_key" style="">
                                <span class="_right_char">ਲ਼</span> <br>
                                <span class="_right_char">N</span> <br />
                                <span class="_right_char">ਲ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">ਸ਼</span> <br>
                                <span class="_right_char">M</span> <br />
                                <span class="_right_char">ਸ</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">&lt;</span> <br>
                                <span class="_right_char">,</span>
                            </td>

                            <td class="_key">
                                <span class="_right_char">।</span> <br>
                                <span class="_right_char">.</span>
                            </td>
                            <td class="_key">
                                <span class="_right_char">?</span> <br>
                                <span class="_right_char">ਯ</span>
                            </td>

                            <td class="r_shift_key _key" id="r_shift_key"><span class="special_characters">⇧</span> Shift</td>


                        </tr>
                    </tbody>
                </table>


                <table id="bottom_row" class="bangali">
                    <tbody>
                        <tr>
                            <td class="ctrl_key _key">Ctrl</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="space_key _key" id="space_key" style="">Space</td>
                            <td class="ctrl_key _key">Alt</td>
                            <td class="ctrl_key _key"><span class="special_characters">❖</span></td>
                            <td class="ctrl_key _key"><span class="special_characters">⌸</span></td>
                            <td class="ctrl_key _key">Ctrl</td>


                        </tr>
                    </tbody>
                </table>


            </div>
            <br />
            <br />


            <button class="accordion">Learn Home Row&nbsp;&nbsp;(ਕੇਂਦਰੀ ਲਾਈਨ)</button>
            <div class="panel">
                <table>
                    <tr>
                        <td> @Html.ActionLink("Lesson 1 (ਅਭਿਆਸ ਨੰ: 1)", "Lesson", "HomeRow", new { id = "1" }, null)</td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Lesson 2 (ਅਭਿਆਸ ਨੰ: 2)", "Lesson", "HomeRow", new { id = "2" }, null)</td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Lesson 3 (ਅਭਿਆਸ ਨੰ: 3)", "Lesson", "HomeRow", new { id = "3" }, null)</td>
                    </tr>

                    @*<tr>
                            <td> @Html.ActionLink("Lesson 4 (ਅਭਿਆਸ ਨੰ: 4)", "Lesson4", "HomeRow")</td>
                        </tr>*@
                </table>

            </div>

            <button class="accordion">Learn Bottom Row&nbsp;&nbsp;(ਤੀਜੀ ਲਾਈਨ)</button>
            <div class="panel">
                <table>
                    <tr>
                        <td> @Html.ActionLink("Lesson 1 (ਅਭਿਆਸ ਨੰ: 1)", "Lesson", "BottomRow", new { id = "1" }, null)</td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Lesson 2 (ਅਭਿਆਸ ਨੰ: 2)", "Lesson", "BottomRow", new { id = "2" }, null)</td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Lesson 3 (ਅਭਿਆਸ ਨੰ: 3)", "Lesson", "BottomRow", new { id = "3" }, null)</td>
                    </tr>
                </table>
            </div>

            <button class="accordion">Learn Upper Row&nbsp;&nbsp;(ਪਹਿਲੀ ਲਾਈਨ)</button>
            <div class="panel">
                <table>
                    <tr>
                        <td> @Html.ActionLink("Lesson 1 (ਅਭਿਆਸ ਨੰ: 1)", "Lesson", "FirstRow", new { id = "1" }, null)</td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Lesson 2 (ਅਭਿਆਸ ਨੰ: 2)", "Lesson", "FirstRow", new { id = "2" }, null)</td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Lesson 3 (ਅਭਿਆਸ ਨੰ: 3)", "Lesson", "FirstRow", new { id = "3" }, null)</td>
                    </tr>
                </table>
            </div>

            <button class="accordion">Home Row with Shift Keys&nbsp;&nbsp;(ਸ਼ਿਫਟ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਕੇਂਦਰੀ ਲਾਈਨ ਦੀ ਟਾਈਪਿੰਗ )</button>
            <div class="panel">
                <table>
                    <tr>
                        <td> @Html.ActionLink("Lesson 1 (ਅਭਿਆਸ ਨੰ: 1)", "Lesson", "ShiftHomeRow", new { id = "1" }, null)</td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Lesson 2 (ਅਭਿਆਸ ਨੰ: 2)", "Lesson", "ShiftHomeRow", new { id = "2" }, null)</td>
                    </tr>
                </table>
            </div>

            <button class="accordion">Bottom Row with Shift Keys&nbsp;&nbsp;(ਸ਼ਿਫਟ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਤੀਜੀ ਲਾਈਨ ਦੀ ਟਾਈਪਿੰਗ )</button>
            <div class="panel">
                <table>
                    <tr>
                        <td> @Html.ActionLink("Lesson 1 (ਅਭਿਆਸ ਨੰ: 1)", "Lesson", "ShiftBottomRow", new { id = "1" }, null)</td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Lesson 2 (ਅਭਿਆਸ ਨੰ: 2)", "Lesson", "ShiftBottomRow", new { id = "2" }, null)</td>
                    </tr>
                </table>
            </div>

            <button class="accordion">Upper Row with Shift Keys&nbsp;&nbsp;(ਸ਼ਿਫਟ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਪਹਿਲੀ ਲਾਈਨ ਦੀ ਟਾਈਪਿੰਗ )</button>
            <div class="panel">
                <table>
                    <tr>
                        <td> @Html.ActionLink("Lesson 1 (ਅਭਿਆਸ ਨੰ: 1)", "Lesson", "ShiftUpperRow", new { id = "1" }, null)</td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Lesson 2 (ਅਭਿਆਸ ਨੰ: 2)", "Lesson", "ShiftUpperRow", new { id = "2" }, null)</td>
                    </tr>
                </table>
            </div>

            <button class="accordion">Right Alt Key with All Key Characters&nbsp;&nbsp;(ਸੱਜੇ Alt ਸਾਰੇ ਕੁੰਜੀ ਅੱਖਰ ਨਾਲ ਕੁੰਜੀ)</button>
            <div class="panel">
                <table>
                    <tr>
                        <td> @Html.ActionLink("Lesson (ਅਭਿਆਸ)", "Lesson", "RightAltWithAllKeys")</td>
                    </tr>
                </table>
            </div>


            <button class="accordion">Number line with Shift Keys&nbsp;&nbsp;(ਨੰਬਰ ਵਾਲੀ ਓਪਰਲੀ ਲਾਈਨ ਸ਼ਿਫਟ- ਕੀ )</button>
            <div class="panel">
                <table>
                    <tr>
                        <td> @Html.ActionLink("Lesson (ਅਭਿਆਸ) ", "Lesson", "ShiftNumberRow")</td>
                    </tr>
                </table>
            </div>
            <button class="accordion">Passage Typing</button>
            <div class="panel">
                <table>
                    <tr>
                        <td> @Html.ActionLink("Passage 1 ", "Passage", "PassageTyping", new { id = "1" }, null)</td>
                        <td><span>Total Words:476</span></td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Passage 2 ", "Passage", "PassageTyping", new { id = "2" }, null)</td>
                        <td><span>Total Words: 593</span></td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Passage 3 ", "Passage", "PassageTyping", new { id = "3" }, null)</td>
                        <td><span>Total Words: 459 </span></td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Passage 4 ", "Passage", "PassageTyping", new { id = "4" }, null)</td>
                        <td><span>Total Words: 238  </span></td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Passage 5 ", "Passage", "PassageTyping", new { id = "5" }, null)</td>
                        <td><span>Total Words: 167  </span></td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Passage 6 ", "Passage", "PassageTyping", new { id = "6" }, null)</td>
                        <td><span>Total Words: 340   </span></td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Passage 7 ", "Passage", "PassageTyping", new { id = "7" }, null)</td>
                        <td><span>Total Words: 204    </span></td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Passage 8 ", "Passage", "PassageTyping", new { id = "8" }, null)</td>
                        <td><span>Total Words: 166</span></td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Passage 9 ", "Passage", "PassageTyping", new { id = "9" }, null)</td>
                        <td><span>Total Words: 498 </span></td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Passage 10 ", "Passage", "PassageTyping", new { id = "10" }, null)</td>
                        <td><span>Total Words: 531 </span></td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Passage 11 ", "Passage", "PassageTyping", new { id = "11" }, null)</td>
                        <td><span>Total Words: 427  </span></td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Passage 12 ", "Passage", "PassageTyping", new { id = "12" }, null)</td>
                        <td><span>Total Words: 519  </span></td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Passage 13 ", "Passage", "PassageTyping", new { id = "13" }, null)</td>
                        <td><span>Total Words: 554  </span></td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Passage 14 ", "Passage", "PassageTyping", new { id = "14" }, null)</td>
                        <td><span>Total Words: 501  </span></td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink("Passage 15 ", "Passage", "PassageTyping", new { id = "15" }, null)</td>
                        <td><span>Total Words: 571  </span></td>
                    </tr>
                </table>
            </div>

            <button class="accordion">Unicode of Special Characters</button>
            <div class="panel">
                <table>
                    <tr>
                        <th>Unicode</th>
                        <th>Meaning</th>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 033</td>
                        <td>!</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 0145</td>
                        <td>'</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 0146</td>
                        <td>'</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 0147</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 0148</td>
                        <td>"</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 035</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 036</td>
                        <td>$</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 037</td>
                        <td>%</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 042</td>
                        <td>*</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 043</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 045</td>
                        <td>(-)Center</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 047</td>
                        <td>/</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 058</td>
                        <td>:</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 059</td>
                        <td>;</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 060</td>
                        <td><</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 061</td>
                        <td>=</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 062</td>
                        <td>></td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 063</td>
                        <td>?</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 091</td>
                        <td>[</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 092</td>
                        <td>\</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 093</td>
                        <td>]</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 094</td>
                        <td>^</td>
                    </tr>
                    <tr>
                        <td>LEFT ALT + 095</td>
                        <td>(_)Bottom</td>
                    </tr>
                </table>
            </div>


        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
    <style type="text/css">
        .accordion {
            /*background-color: #eee;#7FDBFF;#39CCCC*/
            /*background-color: #BDB76B;*/
            background-color: #ADD8E6;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            /*font-size: 15px;*/
            font-size: large;
            font-weight: bold;
            transition: 0.4s;
            text-align: center;
        }

            .active, .accordion:hover {
                background-color: #ccc;
            }

        .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            font-size: large;
            font-weight: bold;
        }


        table {
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
            text-align: center;
        }

        table tr td {
            color: black;
        }

        table tr:nth-child(even) {
            background-color: #eee;
        }

        table tr:nth-child(odd) {
            background-color: #fff;
        }
    </style>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
}

