<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Free Punjabi Ravi Font Typing</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
    <link rel="icon" href="~/WebImage.ico" />

    <link href="~/Content/Footer-with-button-logo.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

  
    <script type="text/javascript">
        function submitform() {
            if (!alert('you submitted the form!')) { window.location.reload(); }
            //alert('you submitted the form');
           // location.reload();
        }
    </script>

    <style type="text/css">

        body {
            /*background-color:lightblue;*/
            /*background-color:darksalmon;*/
            /*background-color:peachpuff;*/
        }

        dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #cccccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #ffffff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

            .dropdown-submenu.pull-left > .dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 6px 0 6px 6px;
                -moz-border-radius: 6px 0 6px 6px;
                border-radius: 6px 0 6px 6px;
            }

       
       
    </style>

</head>
<body>
    @* section for facebook login *@
  
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0&appId=661190120977013&autoLogAppEvents=1"></script>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="menu-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Set Up Raavi Font<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-item">
                                @Html.ActionLink("Windows 7", "Windows7", "SetUpRaviFont")
                            </li>
                            <li class="menu-item">
                                @Html.ActionLink("Windows 10", "Windows10", "SetUpRaviFont")
                            </li>
                            @*<li class="menu-item">
                                @Html.ActionLink("Typing Tips", "Tips", "TypingTips")
                            </li>*@
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>  @Html.ActionLink("Typing Tips", "TypingTips", "TypingTips")</li>
                </ul>

                <ul class="nav navbar-nav">
                    <li>  @Html.ActionLink("Learn Typing", "LearnTyping", "StartTyping")</li>
                </ul>

                @*<ul class="nav navbar-nav">
            <li>  @Html.ActionLink("English", "EnglishHome", "English")</li>
        </ul>

        <ul class="nav navbar-nav">
            <li class="menu-item dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">History<b class="caret"></b></a>
                <ul class="dropdown-menu">


                    <li class="menu-item">
                        @Html.ActionLink("Previous year SSC", "Home", "SscHistory")
                    </li>
                    <li class="menu-item">
                        @Html.ActionLink("Windows 10", "Index", "EnglishIdioms")
                    </li>
                </ul>
            </li>
        </ul>*@



                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>



    @RenderBody()



    @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@


    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <a href="@Url.Action("Index", "Home", null)">
                        <img src="~/img/Logo.png" alt="logo" style="margin-top:0px;">
                    </a>
                </div>
                <div class="col-sm-3">
                    <h5>About Us</h5>
                    <p>
                       Our team is helping the students of Punjab to learn and prepare for your Punjabi Ravi Font typing exam. Almost all clerical jobs of Punjab govt like PSSB, PSEB etc and many more requires efficient Punjabi typing. With this one can take a step ahead in his preparation journey to become a Punjab government employee.
                    </p>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        @*<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>*@
                        <a href="https://www.facebook.com/hardeepsingh.negi.7" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        @* <a href="#" class="google"><i class="fa fa-google-plus"></i></a>*@
                        <h5>Follow Us</h5>
                    </div>
                </div>
                <div class="col-sm-3" >

                    <form method="post" action="https://submit-form.com/FlVpLFjdKtuOi9L_rNvXD">
                        <input type="hidden"
                               name="_feedback.success.title"
                               value="Your Feedback submitted successfullly!" />
                        @* Implement captcha checkbox, once website is published to avoid spamming *@
                        <h5>Drop us a Message</h5>
                        <div class="input-container" style="display:-ms-flexbox;display:flex;margin-bottom:10px;text-align:center;">
                            <i class="fa fa-user icon" style="padding:10px;color:white;background:dodgerblue;min-width:50px;text-align:center;"></i>
                            <input class="input-field" type="text" placeholder="Name" name="name" required style="color:black;padding:2px;width:100%">
                        </div>

                        <div class="input-container" style="display:-ms-flexbox;display:flex;margin-bottom:10px;text-align:center;">
                            <i class="fa fa-envelope icon" style="padding:10px;color:white;background:dodgerblue;min-width:50px;text-align:center;"></i>
                            <input class="input-field" type="email" placeholder="Email" name="email" required style="color:black;padding:2px;width:100%;">
                        </div>

                        <div class="input-container" style="display:-ms-flexbox;display:flex;margin-bottom:10px;text-align:center;height:100px;">
                            <span class="glyphicon glyphicon-pencil" style="padding:10px;color:white;background:dodgerblue;min-width:50px;text-align:center;"></span>
                            <textarea class="input-field" type="text" placeholder="Message" name="text" required style="color:black;padding:2px;width:100%;resize:none;"></textarea>
                        </div>

                        <button type="submit" class="btn">Send</button>
                    </form>



                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>&copy; @DateTime.Now.Year - www.typeinpunjabi.com</p><span>@Html.ActionLink("Disclaimer", "Disclaimer", "Home")</span>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
