<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{ 
        string id;
    }

    <link href="~/Content/Footer-with-button-logo.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


 
    <style type="text/css">
      
dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}


             
    </style>

</head>
<body>



   
    
            @*<div class="bs-example">
            <nav id="myNavbar" class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class=""><a class="active" href="#">Home</a></li>
                         







                        </ul>
                        <ul class="nav navbar-nav dropdown-menu">
                            <li><a tabindex="-1" href="#">HTML</a></li>
                            <li><a tabindex="-1" href="#">CSS</a></li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                                    <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="test" href="#">Another dropdown <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">3rd level dropdown</a></li>
                                            <li><a href="#">3rd level dropdown</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">

                            @Html.Partial("_LoginPartial")
                          </ul>


                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
        </div>*@
    @*<nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Page 1
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </div>
        </nav>*@


    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                  
                    @Html.Partial("_LoginPartial")
                </div>

            </div>
        </div>*@
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a href="#" class="navbar-"><img src="~/img/logo.png"></a>*@
               
                    @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
</div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                 </ul>
                <ul class="nav navbar-nav">
                    <li class="menu-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Punjabi Typing<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Set Up Ravi Font</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item ">
                                        @*<a href="#">Windows 7</a>*@
                                        @Html.ActionLink("Windows 7", "Windows7", "SetUpRaviFont")
                                    </li>
                                    <li class="menu-item ">
                                        @*<a href="#">Windows 10</a>*@
                                        @Html.ActionLink("Windows 10", "Windows10", "SetUpRaviFont")
                                    </li>
                                    @*<li class="menu-item dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#">Link 3</a>
                                            </li>
                                        </ul>
                                    </li>*@
                                </ul>
                            </li>
                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Start Typing</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item ">
                                        <a href="#">Novice</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="#">Intermediate</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="#">Expert</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Aptitude", "Index", "Home")</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Resoning", "Index", "Home")</li>
                </ul>
              
                <ul class="nav navbar-nav">
                    <li class="menu-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">GK Questions<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">History</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item ">
                                        <a href="#">Indian History</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="#">World History</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="#">Indian Art and Culture</a>
                                    </li>
                                    @*<li class="menu-item dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Link 3</a>
                                </li>
                            </ul>
                        </li>*@
                                </ul>
                            </li>
                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Geography</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item ">
                                        <a href="#">Physical Geography</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="#">Geography of India</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="#">World Geography</a>
                                    </li>
                                    @*<li class="menu-item dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 2</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Link 3</a>
                                </li>
                            </ul>
                        </li>*@
                                </ul>
                            </li>
                            <li class="menu-item dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Economics</a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item ">
                                        <a href="#">Indian Economy</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="#">Miscellaneouse</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Indian Polity and Constitution</a>
                               
                            </li>
                            <li class="menu-item">
                                <a href="#">Physics</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Chemistry</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Biology</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Computer and IT</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Books and Authors</a>
                            </li>

                        </ul>
                    <li class="menu-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">English<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-item">
                               @* <a href="#" class="dropdown-toggle" data-toggle="dropdown">Idioms and Phrases</a>*@
                                @Html.ActionLink("Idioms and Phrases", "Index", "EnglishIdioms", new { id = "Page1" }, null)
                                @*<ul class="dropdown-menu">
                                    <li class="menu-item ">
                                        <a href="#">Windows 7</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="#">Windows 10</a>
                                    </li>
                               
                                </ul>*@
                            </li>
                            <li class="menu-item">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">One Word Substitution</a>
                                @*<ul class="dropdown-menu">
                                    <li class="menu-item ">
                                        <a href="#">Novice</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="#">Intermediate</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="#">Expert</a>
                                    </li>
                                </ul>*@
                            </li>
                        </ul>
                    </li>
                    </li>

                 
                </ul>
                </li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>







    @RenderBody()
    <hr />
    @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@


    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><a href="#"> LOGO </a></h2>
                </div>
                @*<div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>*@
                <div class="col-sm-2">
                    <h5>About us</h5>
                    <p>
                        I am an I.T professional utlizing my skills to help the students to learn and prepare for Govt competitive exams
                        and become employed as soon as possible.
                    </p>
                </div>
                <div class="col-sm-2">
                    <h5>Contact us</h5>
                    <ul>
                        <li><a href="#">Write to us</a></li>
                     </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <button type="button" class="btn btn-default">Contact us</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>&copy; @DateTime.Now.Year - www.StudyToCareer.com</p>
        </div>
    </footer>






    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
