
@{
    ViewBag.Title = "English - Idioms and Phrases";
    string id;
}
@section Scripts
{
<script>
    $(document).ready(function () {

        $('[data-toggle="collapse"]').click(function (e) {

            if ($(e.target).is('a')) {
                $(this).toggleClass("active");
                if ($(this).hasClass("active")) {
                    $(this).text("Hide Answer");

                } else {
                    $(this).text("View Answer");
                }

            }
        });

    });
</script>
}


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;English&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;Idioms/Phrases</h3>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        11. The failure of crops in successive
                        years put the farmer in a tight corner.
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;in a closed room</li>
                        <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;in a small field</li>
                        <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;in a difficult situation</li>
                        <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;in a meadow</li>
                        <li class="list-group-item">
                            <a href="#q1" class="btn btn-success" data-toggle="collapse">View Answer</a>
                            <div id="q1" class="collapse">
                                <span class="badge pull-right-side">C</span> in a difficult situation
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    12.The effort to trace the culprit was a wild goose chase.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;fruitful hunting</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;futile search</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;ideal seeking</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;genuine effort</li>
                    <li class="list-group-item">
                        <a href="#q2" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q2" class="collapse">
                            <span class="badge pull-right-side">B</span> futile search
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    13.The story does not hold water.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;does not deserve appreciation</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;does not fulfil the requirements</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;cannot be believed</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;cannot be valued</li>
                    <li class="list-group-item">
                        <a href="#q3" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q3" class="collapse">
                            <span class="badge pull-right-side">C</span> cannot be believed
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    14. Raj couldn’t pay the bill, so he asked the owner to put it on the cuff.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;on credit</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;against his credit card</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;in his bank account</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;in his friend’s account</li>
                    <li class="list-group-item">
                        <a href="#q4" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q4" class="collapse">
                            <span class="badge pull-right-side">A</span> on credit
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    15. His statement is out and out a lie.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;totally</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;simply</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;merely</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;slightly</li>
                    <li class="list-group-item">
                        <a href="#q5" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q5" class="collapse">
                            <span class="badge pull-right-side">A</span> totally
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    16. The luxury car that they bought
                    turned out to be a white elephant.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;a rare article</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;useful mode of transport</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;costly or troublesome possession</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;a proud possession</li>
                    <li class="list-group-item">
                        <a href="#q6" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q6" class="collapse">
                            <span class="badge pull-right-side">C</span> costly or troublesome possession
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    17. If you are fair and square in your work you will definitely
                    prosper.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;active</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;honest</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;businesslike</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;authoritative</li>
                    <li class="list-group-item">
                        <a href="#q7" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q7" class="collapse">
                            <span class="badge pull-right-side">B</span> honest
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    18. There is no love lost between any two neighbouring countries in the world.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;stop loving</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;not on good terms</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;forming a group</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;have good understanding</li>
                    <li class="list-group-item">
                        <a href="#q8" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q8" class="collapse">
                            <span class="badge pull-right-side">B</span> not on good terms
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    19. The heavy downpour played
                    havoc in the coastal area.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;caused destruction</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;caused diseases</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;caused floods</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;caused hardship</li>
                    <li class="list-group-item">
                        <a href="#q9" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q9" class="collapse">
                            <span class="badge pull-right-side">A</span> caused destruction
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    20. To have a green thumb means
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;one’s nails are painted green</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;one is artistic</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;to have a natural interest in gardening</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;one has a green tattoo on the thumb</li>
                    <li class="list-group-item">
                        <a href="#q10" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q10" class="collapse">
                            <span class="badge pull-right-side">C</span> to have a natural interest in gardening
                        </div>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <ul class="pagination">
                    @*<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item "><a class="page-link" href="Page1.html">1</a></li>
                        <li class="page-item active"><a class="page-link" href="Page2.html">2</a></li>
                        <li class="page-item"><a class="page-link" href="Page3.html">3</a></li>
                        <li class="page-item"><a class="page-link" href="Page4.html">4</a></li>
                        <li class="page-item"><a class="page-link" href="Page5.html">5</a></li>
                        <li class="page-item"><a class="page-link" href="Page6.html">Next</a></li>*@

                    <li class="page-item ">@Html.ActionLink("Previous", "Index", "EnglishIdioms", new { id = "Page1" }, null)</li>
                    <li class="page-item ">@Html.ActionLink("1", "Index", "EnglishIdioms", new { id = "Page1" }, null)</li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item">@Html.ActionLink("3", "Index", "EnglishIdioms", new { id = "Page3" }, null)</li>
                    <li class="page-item">@Html.ActionLink("4", "Index", "EnglishIdioms", new { id = "Page4" }, null)</li>
                    <li class="page-item">@Html.ActionLink("5", "Index", "EnglishIdioms", new { id = "Page5" }, null)</li>
                    <li class="page-item">@Html.ActionLink("Next", "Index", "EnglishIdioms", new { id = "Page6" }, null)</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
</div>

