
@{
    ViewBag.Title = "English - Idioms and Phrases";
    string id;
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;English&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;Idioms/Phrases</h3>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        31. Ramesh takes after his father.
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;follows</li>
                        <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;imitates</li>
                        <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;obeys</li>
                        <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;resembles</li>
                        <li class="list-group-item">
                            <a href="#q1" class="btn btn-success" data-toggle="collapse">View Answer</a>
                            <div id="q1" class="collapse">
                                <span class="badge pull-right-side">D</span> resembles
                            </div>
                        </li>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    32. They made no bones about acknowledging their debt to his genius.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;did not have any hesitation in</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;did not have any faith in</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;demanded compensation for</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;had problems in</li>
                    <li class="list-group-item">
                        <a href="#q2" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q2" class="collapse">
                            <span class="badge pull-right-side">A</span> did not have any hesitation in
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    33. It is evident from the minister’s statement that heads will roll in the Secretariat.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;transfers will take place</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;heads will be cut off</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;people will die</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;dismissals will occur</li>
                    <li class="list-group-item">
                        <a href="#q3" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q3" class="collapse">
                            <span class="badge pull-right-side">D</span> dismissals will occur
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    34. During the last moments of his life,the criminal made a clean breast of everything he had done.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;showed his breast</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;fought like a hero</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;confessed without reserve</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;faced bravely</li>
                    <li class="list-group-item">
                        <a href="#q4" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q4" class="collapse">
                            <span class="badge pull-right-side">C</span> confessed without reserve
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    35. She tries very hard to keep up with her rich neighbours.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;to imitate</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;to keep in touch</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;to avoid</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;to be on par</li>
                    <li class="list-group-item">
                        <a href="#q5" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q5" class="collapse">
                            <span class="badge pull-right-side">B</span> to keep in touch
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    36. He went on sowing wild oats; he reaped suffering in his later life.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;inviting troubles as a boy</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;warning others as a young man</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;irresponsible pleasure seeking in young age</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;sowing grains called oats when young</li>
                    <li class="list-group-item">
                        <a href="#q6" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q6" class="collapse">
                            <span class="badge pull-right-side">C</span> irresponsible pleasure seeking in young age
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    37. I don’t know why she has becomestand-offish recently.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;angry</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;hilarious</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;indifferent</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;unmanageable</li>
                    <li class="list-group-item">
                        <a href="#q7" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q7" class="collapse">
                            <span class="badge pull-right-side">C</span> indifferent
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    38. Why don’t you put an end to blowing your own trumpet ?
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;playing your own trumpet to produce music</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;making too much noise</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;praising your own abilities and achievements</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;None of these</li>
                    <li class="list-group-item">
                        <a href="#q8" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q8" class="collapse">
                            <span class="badge pull-right-side">C</span> praising your own abilities and achievements
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    39. I knew he had an axe to grind and turned down his offer of help.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;a blunt axe</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;a sharp tongue</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;a private interest to serve</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;tendency to fight</li>
                    <li class="list-group-item">
                        <a href="#q9" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q9" class="collapse">
                            <span class="badge pull-right-side">C</span> a private interest to serve
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    40. The saint’s life was an open book.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;an uncomplicated one</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;one that held no secrets</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;an example to all</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;an interesting biography</li>
                    <li class="list-group-item">
                        <a href="#q10" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q10" class="collapse">
                            <span class="badge pull-right-side">B</span> one that held no secrets
                        </div>
                    </li>
            </div>
            <div class="text-center">
                <ul class="pagination">
                    <li class="page-item ">@Html.ActionLink("Previous", "Index", "EnglishIdioms", new { id = "Page3" }, null)</li>
                    <li class="page-item ">@Html.ActionLink("1", "Index", "EnglishIdioms", new { id = "Page1" }, null)</li>
                    <li class="page-item">@Html.ActionLink("2", "Index", "EnglishIdioms", new { id = "Page2" }, null)</li>
                    <li class="page-item">@Html.ActionLink("3", "Index", "EnglishIdioms", new { id = "Page3" }, null)</li>
                    <li class="page-item active"><a class="page-link" href="#">4</a></li>
                    <li class="page-item">@Html.ActionLink("5", "Index", "EnglishIdioms", new { id = "Page5" }, null)</li>
                    <li class="page-item">@Html.ActionLink("Next", "Index", "EnglishIdioms", new { id = "Page5" }, null)</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
</div>

