
@{
    ViewBag.Title = "English - Idioms and Phrases";
    string id;
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;English&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;Idioms/Phrases</h3>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        21. When he saw the snake he took
                        to his heels.
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;ran away in fear</li>
                        <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;went slowly</li>
                        <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;walked in fear</li>
                        <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;jumped fast</li>
                        <li class="list-group-item">
                            <a href="#q1" class="btn btn-success" data-toggle="collapse">View Answer</a>
                            <div id="q1" class="collapse">
                                <span class="badge pull-right-side">A</span> ran away in fear
                            </div>
                        </li>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    22. He has to abide by the hard and fast rule of the company.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;flexible</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;strict</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;difficult</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;honest</li>
                    <li class="list-group-item">
                        <a href="#q2" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q2" class="collapse">
                            <span class="badge pull-right-side">B</span> strict
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    23. She goes to her mother’s house off and on.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;frequently</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;rarely</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;occasionally</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;sometimes</li>
                    <li class="list-group-item">
                        <a href="#q3" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q3" class="collapse">
                            <span class="badge pull-right-side">C</span> occasionally
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    24. The robber murdered, the
                    woman in cold blood for the sake of the jewels.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;a murder done without feeling</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;a murder done in revenge</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;a murder done in great anger</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;a murder done in enmity</li>
                    <li class="list-group-item">
                        <a href="#q4" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q4" class="collapse">
                            <span class="badge pull-right-side">A</span> a murder done without feeling
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    25. Indians are going places in the field of software technology.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;going abroad</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;going to spaces</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;talented and successful</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;friendly and amicable</li>
                    <li class="list-group-item">
                        <a href="#q5" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q5" class="collapse">
                            <span class="badge pull-right-side">C</span> talented and successful
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    26. The poet drew on his fancy, not his knowledge of Nature, when he wrote his poem on birds.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;used his understanding</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;used his knowledge</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;used his imagination</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;used his skill</li>
                    <li class="list-group-item">
                        <a href="#q6" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q6" class="collapse">
                            <span class="badge pull-right-side">C</span> used his imagination
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    27. My neighbour had to pay through his nose for a brand new car.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;pay huge loans</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;pay a reasonable price</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;pay an extremely high price</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;make a quick buck</li>
                    <li class="list-group-item">
                        <a href="#q7" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q7" class="collapse">
                            <span class="badge pull-right-side">C</span> pay an extremely high price
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    28. Very ambitious people do not like to rest on their laurels.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;to be unhappy</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;to be motivated</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;to be impatient</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;to be complacent</li>
                    <li class="list-group-item">
                        <a href="#q8" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q8" class="collapse">
                            <span class="badge pull-right-side">D</span> to be complacent
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    29. If he phones again, I am going
                    to give him a piece of my mind.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;to be nice to him</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;to take revenge on him</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;to reprimand him</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;to support him</li>
                    <li class="list-group-item">
                        <a href="#q9" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q9" class="collapse">
                            <span class="badge pull-right-side">C</span> to reprimand him
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    30. The party high command wanted to stave off an open battle.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;postpone</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;wait and see</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;allow it to take its own course</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;prevent</li>
                    <li class="list-group-item">
                        <a href="#q10" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q10" class="collapse">
                            <span class="badge pull-right-side">A</span> postpone
                        </div>
                    </li>
                 </ul>
            </div>
            <div class="text-center">
                <ul class="pagination">
                    <li class="page-item">@Html.ActionLink("Previous", "Index", "EnglishIdioms", new { id = "Page2" }, null)</li>
                    <li class="page-item">@Html.ActionLink("1", "Index", "EnglishIdioms", new { id = "Page1" }, null)</li>
                    <li class="page-item">@Html.ActionLink("2", "Index", "EnglishIdioms", new { id = "Page2" }, null)></li>
                    <li class="page-item active"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">@Html.ActionLink("4", "Index", "EnglishIdioms", new { id = "Page4" }, null)</li>
                    <li class="page-item">@Html.ActionLink("5", "Index", "EnglishIdioms", new { id = "Page5" }, null)</li>
                    <li class="page-item">@Html.ActionLink("Next", "Index", "EnglishIdioms", new { id = "Page4" }, null)</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
</div>

