
@{
                /**/

                ViewBag.Title = "English - Idioms and Phrases";
                string id;
}
@section Scripts
{
<script>
    $(document).ready(function () {

        $('[data-toggle="collapse"]').click(function (e) {

            if ($(e.target).is('a')) {
                $(this).toggleClass("active");
                if ($(this).hasClass("active")) {
                    $(this).text("Hide Answer");

                } else {
                    $(this).text("View Answer");
                }

            }
        });

    });
</script>
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;English&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;Idioms/Phrases</h3>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        51.The watchdogs were asleep
                        when the bulls ran riot .
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;behaved cleverly</li>
                        <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;acted without restraint</li>
                        <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;wandered aimlessly</li>
                        <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;had the best of time</li>
                        <li class="list-group-item">
                            <a href="#q1" class="btn btn-success" data-toggle="collapse">View Answer</a>
                            <div id="q1" class="collapse">
                                <span class="badge pull-right-side">B</span> acted without restraint
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    52.In spite of the immense pressure
                    exerted by the militants, the
                    Government, has decided not to
                    give in.
                </div>


                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;accede</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;yield</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;oblige</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;conform</li>
                    <li class="list-group-item">
                        <a href="#q2" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q2" class="collapse">
                            <span class="badge pull-right-side">B</span> yield
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    53.The young and the old sat cheek
                    by jowl in the large audience.

                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;very near</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;very far</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;tongue tied</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;irritated</li>
                    <li class="list-group-item">
                        <a href="#q3" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q3" class="collapse">
                            <span class="badge pull-right-side">A</span> very near
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    54. We wanted to keep the gift as a
                    su rprise for mother but my
                    sister gavet he game away.

                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;lost the game</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;gave out the secret</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;played badly</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;withdrew from the game</li>
                    <li class="list-group-item">
                        <a href="#q4" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q4" class="collapse">
                            <span class="badge pull-right-side">B</span> gave out the secret
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    55. I don’t think the law will
                    interfere with us as we are just
                    trying to turn an honest penny.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;make a legitimate living</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;make a good living</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;have dealings in white money</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;become more honest</li>
                    <li class="list-group-item">
                        <a href="#q5" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q5" class="collapse">
                            <span class="badge pull-right-side">A</span> make a legitimate living
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    56. a dark horse
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;an unforeseen competitor</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;a black horse</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;a nightmare </li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;an unknown person</li>
                    <li class="list-group-item">
                        <a href="#q6" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q6" class="collapse">
                            <span class="badge pull-right-side">A</span> an unforeseen competitor
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    57. to run across
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;to have an appointed meeting</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;to meet by chance</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;to run in the playground</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;to run very fast</li>
                    <li class="list-group-item">
                        <a href="#q7" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q7" class="collapse">
                            <span class="badge pull-right-side">B</span> to meet by chance
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    58. to get one’s own back
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;to get one’s revenge</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;to get cont rol over someone</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;to get one’s position back</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;to get hold of someone</li>
                    <li class="list-group-item">
                        <a href="#q8" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q8" class="collapse">
                            <span class="badge pull-right-side">A</span> to get one’s revenge
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    59. to steer clear of
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;drive carefully</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;avoid</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;explain clearly</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;escape</li>
                    <li class="list-group-item">
                        <a href="#q9" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q9" class="collapse">
                            <span class="badge pull-right-side">B</span> avoid
                    </li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    60. to beat a retreat
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;to withdraw in defeat or humiliation</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;to withdraw after scoring a victory </li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;to march back after a ceremonious parade </li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;to run away in fear</li>
                    <li class="list-group-item">
                        <a href="#q10" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q10" class="collapse">
                            <span class="badge pull-right-side">D</span> to run away in fear
                        </div>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <ul class="pagination">
                    <li class="page-item">@Html.ActionLink("Previous", "Index", "EnglishIdioms", new { id = "Page5" }, null)</li>
                    <li class="page-item active"><a class="page-link" href="#">6</a></li>
                    <li class="page-item">@Html.ActionLink("7", "Index", "EnglishIdioms", new { id = "Page7" }, null)</li>
                    <li class="page-item">@Html.ActionLink("8", "Index", "EnglishIdioms", new { id = "Page8" }, null)</li>
                    <li class="page-item">@Html.ActionLink("9", "Index", "EnglishIdioms", new { id = "Page9" }, null)</li>
                    <li class="page-item">@Html.ActionLink("10", "Index", "EnglishIdioms", new { id = "Page10" }, null)</li>

                    <li class="page-item">@Html.ActionLink("Next", "Index", "EnglishIdioms", new { id = "Page7" }, null)</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
</div>



