
@{
    ViewBag.Title = "English - Idioms and Phrases";
    string id;
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;English&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;Idioms/Phrases</h3>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">1. For his alleged involvement in espio-nage, he is under a cloud these days.</div>
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;experiencing cloudy weather</li>
                        <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;enjoying favourable luck</li>
                        <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;under suspicion</li>
                        <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;under observation</li>
                        <li class="list-group-item">
                            <a href="#q1" class="btn btn-success" data-toggle="collapse">View Answer</a>
                            <div id="q1" class="collapse">
                                <span class="badge pull-right-side">C</span> under suspicion
                            </div>
                        </li>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    2. We have appealed to him again
                    and again; there is no use flogging a dead horse now.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;repeating our request</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;making him see reason</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;beating about the bush</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;wasting time in useless effort</li>
                    <li class="list-group-item">
                        <a href="#q2" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q2" class="collapse">
                            <span class="badge pull-right-side">D</span> wasting time in useless effort
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    3. We shouldn’t look down upon
                    the wretched of the earth.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;sympathise with</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;hate intensely</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;be indifferent to</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;regard with contempt</li>
                    <li class="list-group-item">
                        <a href="#q3" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q3" class="collapse">
                            <span class="badge pull-right-side">D</span> regard with contempt
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    4. Because of his misbehaviour,he
                    is bound to face the music.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;get finished</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;get reprimanded</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;feel sorry</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;listen to the music</li>
                    <li class="list-group-item">
                        <a href="#q4" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q4" class="collapse">
                            <span class="badge pull-right-side">B</span> get reprimanded
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    5. The working of the factory was distru-pted on account of a token strike by the workers.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;total strike</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;carefully planned strike</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;short strike held as a warning</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;sudden call of strike</li>
                    <li class="list-group-item">
                        <a href="#q5" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q5" class="collapse">
                            <span class="badge pull-right-side">C</span> short strike held as a warning
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    6. By opposing his proposal he fell foul of him.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;quarrel with</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;felt annoyed with</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;agreed with </li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;got into trouble with</li>
                    <li class="list-group-item">
                        <a href="#q6" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q6" class="collapse">
                            <span class="badge pull-right-side">D</span> got into trouble with
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    7.Those who work by fits and starts seldom show good results.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;rarely</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;disinterestedly</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;irregularly</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;regularly</li>
                    <li class="list-group-item">
                        <a href="#q7" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q7" class="collapse">
                            <span class="badge pull-right-side">C</span> irregularly
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    8. The new manager thought that hewouldgiveemployeesenough rope for the first six months after which he would check the work done himself.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;many directives and orders</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;sufficient advice </li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;all the material they needed</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;enough freedom for action</li>
                    <li class="list-group-item">
                        <a href="#q8" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q8" class="collapse">
                            <span class="badge pull-right-side">D</span> enough freedom for action
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    9. He was all at sea when he began his new Job.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;happy</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;sad</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;puzzled</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;triumphant</li>
                    <li class="list-group-item">
                        <a href="#q9" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q9" class="collapse">
                            <span class="badge pull-right-side">C</span> puzzled
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    10. The sweeping statement by the boss left the conscientious workers disgusted.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;rash statement </li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;unpremeditated statement </li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;thoughtless statement </li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;generalised statement </li>
                    <li class="list-group-item">
                        <a href="#q10" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q10" class="collapse">
                            <span class="badge pull-right-side">D</span> generalised statement
                        </div>
                    </li>
            </div>
            <div class="text-center">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>

                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item">@Html.ActionLink("2", "Index", "EnglishIdioms", new { id = "Page2" }, null)</li>
                    <li class="page-item">@Html.ActionLink("3", "Index", "EnglishIdioms", new { id = "Page3" }, null)</li>
                    <li class="page-item">@Html.ActionLink("4", "Index", "EnglishIdioms", new { id = "Page4" }, null)</li>
                    <li class="page-item">@Html.ActionLink("5", "Index", "EnglishIdioms", new { id = "Page5" }, null)</li>
                    <!-- <li class="page-item"><a class="page-link" href="Page6.html">6</a></li> -->
                    <!-- <li class="page-item"><a class="page-link" href="Page7.html">7</a></li> -->
                    <!-- <li class="page-item"><a class="page-link" href="Page8.html">8</a></li> -->
                    <!-- <li class="page-item"><a class="page-link" href="Page9.html">9</a></li> -->
                    <!-- <li class="page-item"><a class="page-link" href="Page10.html">10</a></li> -->
                    <li class="page-item">@Html.ActionLink("Next", "Index", "EnglishIdioms", new { id = "Page2" }, null)</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
</div>

        

