
@{
    ViewBag.Title = "English - Idioms and Phrases";
    string id;
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;English&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;Idioms/Phrases</h3>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">41. Reading between the lines I realised that my friend wanted to keep something from me.</div>
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;looking for meanings that are not actually expressed</li>
                        <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;reading carelessly</li>
                        <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;reading with anxiety</li>
                        <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;glancing over the lines</li>
                        <li class="list-group-item">
                            <a href="#q1" class="btn btn-success" data-toggle="collapse">View Answer</a>
                            <div id="q1" class="collapse">
                                <span class="badge pull-right-side">A</span> looking for meanings that are not actually expressed
                            </div>
                        </li>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    42. Sometimes, it happens that we have to give the devil his due.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;to give credit to even a notorious person</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;to give encouragement even to the enemy</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;to invite the devil</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;to stand in the way of the devil</li>
                    <li class="list-group-item">
                        <a href="#q2" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q2" class="collapse">
                            <span class="badge pull-right-side">B</span> to give encouragement even to the enemy
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    43. The king had been made to eat humble pie.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;to eat slowly</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;to have an excel lent dish</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;to eat a good pie</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;to apologise</li>
                    <li class="list-group-item">
                        <a href="#q3" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q3" class="collapse">
                            <span class="badge pull-right-side">D</span> to apologise
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    44. He was given Hobson’s choice by the employer.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;excellent choice</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;no real choice at all</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;choice to live or die</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;first choice</li>
                    <li class="list-group-item">
                        <a href="#q4" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q4" class="collapse">
                            <span class="badge pull-right-side">B</span> no real choice at all
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    45. He has a very nice manner, but you would better take what he says with a grain of salt .
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;to listen to something with considerable doubt</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;to talk sensibly</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;to criticise</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;to complement</li>
                    <li class="list-group-item">
                        <a href="#q5" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q5" class="collapse">
                            <span class="badge pull-right-side">A</span> to listen to something with considerable doubt
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    46. He didn’t tell me directly, but reading between the lines. I think he is not happy with them.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;reading slowly and haltingly</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;under standing the sense rather than the actual words</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;understanding the meaning of words and not the sense</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;reading superficially</li>
                    <li class="list-group-item">
                        <a href="#q6" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q6" class="collapse">
                            <span class="badge pull-right-side">B</span> under standing the sense rather than the actual words
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    47. Gopi works by fits and starts.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;consistently</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;irregularly</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;in high spirits</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;enthusiastically</li>
                    <li class="list-group-item">
                        <a href="#q7" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q7" class="collapse">
                            <span class="badge pull-right-side">B</span> irregularly
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    48. I cannot put up with your misconduct any longer.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;excuse</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;refuse</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;accept</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;tolerate</li>
                    <li class="list-group-item">
                        <a href="#q8" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q8" class="collapse">
                            <span class="badge pull-right-side">D</span> tolerate
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    49. I did not mind what he was saying, he was only talking through his hat .
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;talking nonsense</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;talking ignorantly</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;talking irresponsibly</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;talking insultingly</li>
                    <li class="list-group-item">
                        <a href="#q9" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q9" class="collapse">
                            <span class="badge pull-right-side">A</span> talking nonsense
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    50. He is so furious that he would go through fire and water to revenge himself on his foe.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;approach everybody for help</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;avail himself of any opportunity</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;use any conceivable method</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;undergo any risk</li>
                    <li class="list-group-item">
                        <a href="#q10" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q10" class="collapse">
                            <span class="badge pull-right-side">D</span> undergo any risk
                        </div>
                    </li>
            </div>
            <div class="text-center">
                <ul class="pagination">
                    <li class="page-item ">@Html.ActionLink("Previous", "Index", "EnglishIdioms", new { id = "Page4" }, null)</li>
                    <li class="page-item ">@Html.ActionLink("1", "Index", "EnglishIdioms", new { id = "Page1" }, null)</li>
                    <li class="page-item">@Html.ActionLink("2", "Index", "EnglishIdioms", new { id = "Page2" }, null)</li>
                    <li class="page-item">@Html.ActionLink("3", "Index", "EnglishIdioms", new { id = "Page3" }, null)</li>
                    <li class="page-item">@Html.ActionLink("4", "Index", "EnglishIdioms", new { id = "Page4" }, null)</li>
                    <li class="page-item active"><a class="page-link" href="Page5.html">5</a></li>
                    <!-- <li class="page-item"><a class="page-link" href="Page6.html">6</a></li> -->
                    <!-- <li class="page-item"><a class="page-link" href="Page7.html">7</a></li> -->
                    <!-- <li class="page-item"><a class="page-link" href="Page8.html">8</a></li> -->
                    <!-- <li class="page-item"><a class="page-link" href="Page9.html">9</a></li> -->
                    <!-- <li class="page-item"><a class="page-link" href="Page10.html">10</a></li> -->
                    <li class="page-item">@Html.ActionLink("Next", "Index", "EnglishIdioms", new { id = "Page6" }, null)</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
</div>

      

