
@{
    ViewBag.Title = "English - Idioms and Phrases";
    string id;
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <!--add area here -->
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;English&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;Idioms/Phrases</h3>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">61. to blaze at rail</div>
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;to lead the way as a pioneer</li>
                        <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;to light a track</li>
                        <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;to set up a fire</li>
                        <li class="list-group-item">
                            <span class="badge pull-left">D</span>&nbsp&nbsp;to wear ablazer while
                            running
                        </li>
                        <li class="list-group-item">
                            <a href="#q1" class="btn btn-success" data-toggle="collapse">View Answer</a>
                            <div id="q1" class="collapse">
                                <span class="badge pull-right-side">A</span> to lead the way as a pioneer
                            </div>
                        </li>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    62. red-letter day

                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;a colourful day</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;fatal day</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;happy and significant day</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;hapless day</li>
                    <li class="list-group-item">
                        <a href="#q2" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q2" class="collapse">
                            <span class="badge pull-right-side">C</span> happy and significant day
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    63. have t he last laugh

                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;be of a cheerful nature</li>
                    <li class="list-group-item">
                        <span class="badge pull-left">B</span>&nbsp&nbsp;laugh only after understanding
                        something
                    </li>
                    <li class="list-group-item">
                        <span class="badge pull-left">C</span>&nbsp&nbsp;to be victorious at the end of
                        an argument
                    </li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;to crack the final joke</li>
                    <li class="list-group-item">
                        <a href="#q3" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q3" class="collapse">
                            <span class="badge pull-right-side">C</span> to be victorious at the end of
                            an argument
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    64. turn a deaf ear

                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;disregard</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;defy</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;disobey</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;dismiss</li>
                    <li class="list-group-item">
                        <a href="#q4" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q4" class="collapse">
                            <span class="badge pull-right-side">A</span> disregard
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    65. to smell a rat
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;to experience bad smell</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;to misunderstand</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;to see a hidden meaning</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;to suspect a trick</li>
                    <li class="list-group-item">
                        <a href="#q5" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q5" class="collapse">
                            <span class="badge pull-right-side">D</span> to suspect a trick
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    66. A few days before his death, he
                    made a clean breast of
                    everything.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;confessed</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;took off his shirt</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;suffered </li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;spoke ill</li>
                    <li class="list-group-item">
                        <a href="#q6" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q6" class="collapse">
                            <span class="badge pull-right-side">A</span> confessed
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    67.I am done for.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;ruined</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;rewarded</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;answered</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;questioned</li>
                    <li class="list-group-item">
                        <a href="#q7" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q7" class="collapse">
                            <span class="badge pull-right-side">A</span> ruined
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    68. For a healthy and lasting
                    friendship one must be on the
                    level.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;equally rich</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;mentally compatible</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;honest and sincere</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;ready for sacrifices</li>
                    <li class="list-group-item">
                        <a href="#q8" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q8" class="collapse">
                            <span class="badge pull-right-side">C</span> honest and sincere
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    69. The foolish young man soon
                    made ducks and drak es of the
                    vast property his father left him.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;squandered</li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;distributed</li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;spent</li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;gave in charity</li>
                    <li class="list-group-item">
                        <a href="#q9" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q9" class="collapse">
                            <span class="badge pull-right-side">A</span> squandered
                        </div>
                    </li>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    70. All his ventures went to the
                    winds.
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge pull-left">A</span>&nbsp&nbsp;dissipated </li>
                    <li class="list-group-item"><span class="badge pull-left">B</span>&nbsp&nbsp;spread all over </li>
                    <li class="list-group-item"><span class="badge pull-left">C</span>&nbsp&nbsp;got speed of the winds </li>
                    <li class="list-group-item"><span class="badge pull-left">D</span>&nbsp&nbsp;became well-known </li>
                    <li class="list-group-item">
                        <a href="#q10" class="btn btn-success" data-toggle="collapse">View Answer</a>
                        <div id="q10" class="collapse">
                            <span class="badge pull-right-side">A</span> dissipated
                        </div>
                    </li>
            </div>
            <div class="text-center">
                <ul class="pagination">
                    <li class="page-item ">@Html.ActionLink("Previous", "Index", "EnglishIdioms", new { id = "Page6" }, null)</li>
                    <li class="page-item ">@Html.ActionLink("6", "Index", "EnglishIdioms", new { id = "Page6" }, null)</li>
                    <li class="page-item active"><a class="page-link" href="#">7</a></li>
                    <li class="page-item">@Html.ActionLink("8", "Index", "EnglishIdioms", new { id = "Page8" }, null)</li>
                    <li class="page-item">@Html.ActionLink("9", "Index", "EnglishIdioms", new { id = "Page9" }, null)</li>
                    <li class="page-item">@Html.ActionLink("1o", "Index", "EnglishIdioms", new { id = "Page10" }, null)</li>
            
                    <li class="page-item">@Html.ActionLink("Next", "Index", "EnglishIdioms", new { id = "Page8" }, null)</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <!--add area here -->
        </div>
    </div>
</div>

      </div>

